<h2>Item List</h2>

<ul id="item-list">
</ul>

<div>
    <div>
        <button id="remove-checked-button" type="button">Remove Checked</button>
    </div>
    <form id="new-item-form">
        <input id="new-item-title" type="text" />
        <button id="new-item-button" type="submit">Add Item</button>
    </form>

    <br />
    <div>Go to <a class="linknav" href="/foo">foo</a></div>
</div>
