<div>
    <strong <%= done ? 'class="done"' : '' %> ><%= title %></strong>
    <input type="checkbox" class="toggle" <%= done ? 'checked="checked"' : '' %> />
    <button type="button" class="remove">Remove</button>
</div>
